

  @font-face {
      font-family: 'Mohave';
      src: url('../fonts/Mohave-Regular.woff2') format('woff2'),
          url('../fonts/Mohave-Regular.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  }

  @font-face {
      font-family: 'Mohave';
      src: url('../fonts/Mohave-Light.woff2') format('woff2'),
          url('../fonts/Mohave-Light.woff') format('woff');
      font-weight: 300;
      font-style: normal;
  }

  @font-face {
      font-family: 'Mohave';
      src: url('../fonts/Mohave-Bold.woff2') format('woff2'),
          url('../fonts/Mohave-Bold.woff') format('woff');
      font-weight: bold;
      font-style: normal;
  }

  @font-face {
    font-family: 'Sushi-Sans';
    src: url('../fonts/Sushi-Sans.woff2') format('woff2'),
        url('../fonts/Sushi-Sans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

  :root {
    --primary-color:        #56cbf9;
    --white-color:          #ffffff;
    --dark-color:           #000000;
    --about-bg-color:       #f9f9f9;

    --gray-color:           #4f4f4f;
    --link-color:           #56cbf9;
    --p-color:              #666262;

    --base-font-family:     'Plain', sans-serif;
    --font-weight-bold:     bold;
    --font-weight-normal:   normal;
    --font-weight-light:    300;
    --font-weight-thin:     100;

    --h1-font-size:         48px;
    --h2-font-size:         36px;
    --h3-font-size:         28px;
    --h4-font-size:         24px;
    --h5-font-size:         22px;
    --h6-font-size:         22px;
    --p-font-size:          18px;
    --base-font-size:       16px;
    --menu-font-size:       14px;

    --border-radius-large:  100%;
    --border-radius-small:  2px;
  }


  body {
    background: var(--white-color);
    font-family: var(--base-font-family);
  }


  /*---------------------------------------
     TYPOGRAPHY              
  -----------------------------------------*/

  h1,h2,h3,h4,h5,h6 {
    font-weight: var(--font-weight-thin);
    line-height: normal;
  }

  h1 {
    font-size: var(--h1-font-size);
    font-family: 'Sushi-Sans';
    font-weight: var(--font-weight-bold);
    letter-spacing: -1px;
    text-transform: uppercase;
    margin: 20px 0;
  }

  h2 {
    font-size: var(--h2-font-size);
    font-weight: var(--font-weight-bold);
    letter-spacing: -2px;
  }

  h3 {
    font-size: var(--h3-font-size);
    font-weight: var(--font-weight-bold);
    letter-spacing: -1px;
    margin: 0;
  }

  h4 {
    font-size: var(--h4-font-size);
  }

  h5 {
    font-size: var(--h5-font-size);
  }

  h6 {
    color: var(--gray-color);
    font-size: var(--h6-font-size);
    line-height: inherit;
    margin: 0;
  }

  p {
    color: var(--p-color);
    font-size: var(--p-font-size);
    font-weight: var(--font-weight-light);
    line-height: 1.5em;
  }

  b, 
  strong {
    font-weight: var(--font-weight-bold);
    letter-spacing: 0;
  }

  .section {
    padding: 7rem 0;
  }


  /* BUTTON */
  .hero-btn {
    background-color: black;
    border-radius:38px;
    border:2px solid#56CBF9;
    display:inline-block;
    cursor:pointer;
    color:#56CBF9;
    font-family: 'Mohave';
    font-size: 3vh;
    font-weight: var(--font-weight-normal);
    letter-spacing: 0.5px;
    padding:13px 32px;
    text-decoration:none;
  }

  .hero-btn:hover {
    transition: all 0.4s ease;
    background-color:  #4F4F4F;
    color: #ffffff;
    border:2px solid#000000;
  }

  .custom-btn {
    background: transparent;
    border-radius: var(--border-radius-small);
    padding: 14px 24px;
    color: var(--white-color);
    font-size: var(--menu-font-size);
    font-weight: var(--font-weight-normal);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    white-space: nowrap;
    transition: all 0.3s ease;
  }

  .custom-btn:hover {
    color: var(--primary-color);
  }

  .custom-btn:focus {
    box-shadow: none;
  }

  .custom-btn.bordered:hover,
  .custom-btn.bordered:focus,

  .custom-btn.bg-color:hover,
  .custom-btn.bg-color:focus {
    background: var(--white-color);
    border-color: transparent;
    color: var(--primary-color);
  }

  .bordered {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
  }

  .bg-color {
    background: var(--primary-color);
    color: var(--white-color);
  }



  /*---------------------------------------
     GENERAL               
  -----------------------------------------*/

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  *::before,
  *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  a {
    color: var(--link-color);
    font-weight: normal;
    text-decoration: none;
    transition: all 0.3s ease;
  }

  a:hover, 
  a:active, 
  a:focus {
    color: var(--primary-color);
    outline: none;
    text-decoration: none;
  }


  /* BG OVERLAY */

  .bg-overlay {
    background: #56CBF9;
    position: absolute;
    top: 0;
    right: 30;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.85;
  }


  /*---------------------------------------
     MODAL              
  -----------------------------------------*/

  .modal-content {
    padding: 2rem 3rem;
  }

  .modal-header,
  .modal-body,
  .modal-footer {
    border: 0;
    padding: 0;
  }

  .membership-form a {
    color: var(--primary-color);
  }


  /*---------------------------------------
    FEATURE          
  -----------------------------------------*/

  .feature {
    background-image: url("../images/Frame2.png");
    background-repeat: repeat;
    background-size: 10%  ;
    padding: 5rem 0;
  }


  /*---------------------------------------
     MENU             
  -----------------------------------------*/

  .navbar {
    background: var(--dark-color);
    padding: 1rem;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .navbar-brand {
    color: var(--white-color);
    font-size: var(--h3-font-size);
    font-weight: var(--font-weight-bold);
    line-height: normal;
    padding-top: 0;
  }

  .nav-item .nav-link {
    display: block;
    color: var(--white-color);
    font-size: var(--menu-font-size);
    font-weight: var(--font-weight-normal);
    text-transform: uppercase;
    padding: 2px 6px;
  }

  .nav-item .nav-link.active,
  .nav-item .nav-link:hover {
    color: var(--primary-color);
  }

  .navbar .social-icon li a {
    color: var(--white-color);
  }

  .navbar-toggler {
    border: 0;
    padding: 0;
    cursor: pointer;
    margin: 0 10px 0 0;
    width: 30px;
    height: 35px;
    outline: none;
  }

  .navbar-toggler:focus {
    outline: none;
  }

  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    background: transparent;
  }

  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before,
  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
    transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
    transition: top 300ms 50ms ease, transform 300ms 350ms ease;
    transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
    top: 0;
  }

  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before {
    transform: rotate(45deg);
  }

  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
    transform: rotate(-45deg);
  }

  .navbar-toggler .navbar-toggler-icon {
    background: var(--primary-color);
    transition: background 10ms 300ms ease;
    display: block;
    width: 30px;
    height: 2px;
    position: relative;
  }

  .navbar-toggler .navbar-toggler-icon::before,
  .navbar-toggler .navbar-toggler-icon::after {
    transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
    transition: top 300ms 350ms ease, transform 300ms 50ms ease;
    transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
    position: absolute;
    right: 0;
    left: 0;
    background: var(--primary-color);
    width: 30px;
    height: 2px;
    content: '';
  }

  .navbar-toggler .navbar-toggler-icon::before {
    top: -8px;
  }

  .navbar-toggler .navbar-toggler-icon::after {
    top: 8px;
  }

  /*---------------------------------------
     HERO              
  -----------------------------------------*/
  .heroBack{
    background-color: black;
  }
  .hero {
    background: #FF729F;
    background-image: url("../images/maki.png");
    background-size: 40%;
    border-bottom: #56cbf9 60px solid;
    border-radius: 0 0 0% 600%;
    background-position: top left;
    background-repeat: no-repeat;
    vertical-align: middle;
    min-height: 100vh;
    position: relative;
  }
  .heroIm{
    border: none;
    width: 120%;
    margin-left: 8%;
    border-radius: 30% 0 30% 30%;
    margin-top: 5%;
}
  .heroImage{
    display: flex;
    margin-left: 55%;  
    justify-content: center;
    align-items: center; 
    margin-top: 10%;
  }
  .hero h1{
    font-size: 10vh;
    margin-top: 18%;
    color: white;
    text-align: right;
  }
  .hero h6{
    text-align: right;
  }
  .hero:before {
    content: " ";
    background-image: url("../images/maki.svg");
    background-repeat: repeat;
    background-size: 10%  ;
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: -220px;
  }
  @media(max-width: 992px) {
    .hero h1{
      font-size: 8vh;
      margin-top: 30%;
      color: white;
      text-align: center;
    }
    .hero h6{
      text-align: center;
    }
    .hero {
      background: #FF729F;
      background-size: cover;
      border-bottom: #56cbf9 10px solid;
      border-radius: 0 0 0% 0%;
      background-position: top;
      background-repeat: no-repeat;
      vertical-align: middle;
      text-align: center;
      min-height: 90vh;
      position: relative;
    }
    
  .heroImage{
    display: inline-block;
    margin-left: 0;  
    margin-top: 5%;
  }
    .hero img{
      border: none;
      width: 100%;
      border-radius: 0;
      margin-left: auto; 
      margin-right: auto; 
      margin-top: 5%;
      margin-bottom: 5%;
  }
  }

  /*---------------------------------------
     CLASS               
  -----------------------------------------*/

  .class-info {
    background: var(--white-color);
    box-shadow: 6px 0 38px rgba(20,20,20,0.10);
    border-radius: 0 0 2px 2px;
    padding: 1rem 2rem;
    position: relative;
  }

  .class-info img {
    border-radius: 2px 2px 0 0;
  }

  .class-info strong {
    color: var(--gray-color);
  }

  .class-price {
    background: var(--primary-color);
    border-radius: var(--border-radius-large);
    color: var(--white-color);
    font-weight: var(--font-weight-bold);
    display: block;
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
  }


  /*---------------------------------------
     SCHEDULE             
  -----------------------------------------*/

  .schedule {
    background: var(--dark-color);
  }

  .schedule-table {
    display: table;
    border: 0;
    text-align: center;
  }

  .schedule-table strong,
  .schedule-table span {
    display: block;
    text-align: center;
  }

  .schedule-table strong {
    color: var(--white-color);
  }

  .schedule-table span {
    color: var(--gray-color);
  }

  .schedule-table span,
  .schedule-table small {
    font-size: var(--menu-font-size);
    text-transform: uppercase;
  }

  .schedule-table small {
    position: relative;
    top: 10px;
  }

  .table .thead-light th,
  .schedule-table tr td:first-child {
    background: var(--primary-color);
    border: 1px solid #212122;
    color: var(--white-color);
  }

  .schedule-table .thead-light th {
    border-bottom: 0;
    text-transform: uppercase;
  }

  .table-bordered td, 
  .table-bordered th {
    border: 1px solid #212122;
  }

  .table-bordered td {
    padding-bottom: 22px;
  }

  .table td, .table th {
    padding: 1rem;
  }

  
/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio{
  padding: 5%;
}
.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  background: white;
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 0px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 0px;
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover{
  color: #81F4E1;
}
.portfolio #portfolio-flters li.filter-active {
  color: #56CBF9;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio .portfolio-item .portfolio-info {
  opacity: 0;
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px;
}

.portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  color: #000000;
}

.portfolio .portfolio-item .portfolio-info p {
  color: #4f4f4f;
  font-size: 14px;
  margin-bottom: 0;
}

.portfolio .portfolio-item .portfolio-info .preview-link, .portfolio .portfolio-item .portfolio-info .details-link {
  position: absolute;
  right: 40px;
  font-size: 24px;
  top: calc(50% - 18px);
  color: #FF729F;
}

.portfolio .portfolio-item .portfolio-info .preview-link:hover, .portfolio .portfolio-item .portfolio-info .details-link:hover {
  color: #FCD6F6;
}

.portfolio .portfolio-item .portfolio-info .details-link {
  right: 10px;
}

.portfolio .portfolio-item .portfolio-links {
  opacity: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
}

.portfolio .portfolio-item .portfolio-links a {
  color: #fff;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-item .portfolio-links a:hover {
  color: #c8dbe1;
}

.portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
  bottom: 20px;
}


  /*---------------------------------------
      ABOUT & TEAM            
  -----------------------------------------*/

  .about {
    background: var(--about-bg-color);
    background-image: url("../images/maki.svg");
    background-repeat: repeat;
    background-size: 10%;
    border-bottom: #56cbf9 10px solid;
    border-radius: 0 0 20% 0%;
  }

  .about img{
    border: none;      
      width: 100%;
      border-radius: 0;
      margin-left: auto; 
      margin-right: auto; 
      margin-top: 5%;
      margin-bottom: 5%;
  }

  .about-working-hours {
    border-left: 2px solid;
    padding-left: 3.5rem;
  }

  .about-working-hours strong {
    color: var(--white-color);
    opacity: 0.85;
  }

  .team-thumb {
    position: relative;
  }

  .team-info {
    background: var(--white-color);
    border-radius: 0 0 2px 2px;
    box-shadow: 6px 0 38px rgba(20,20,20,0.10);
    padding: 20px;
    position: relative;
  }

  .team-info span {
    font-weight: var(--font-weight-light);
    opacity: 0.85;
  }

  .team-info .social-icon {
    position: absolute;
    top: 10px;
    right: 20px;
  }

  .team-info .social-icon li {
    display: block;
  }

  @media(max-width: 992px) {
    .about {
      background: var(--about-bg-color);
      background-image: url("../images/Frame2.png");
      background-repeat: repeat;
      background-size: 10%;
      border-bottom: #56cbf9 10px solid;
      border-radius: 0 0 0 0 / 0 0 0 0 ;
    }
  }


  /*---------------------------------------
     CONTACT              
  -----------------------------------------*/
.contact{
  background-color: #000000;
}
  .webform input,
  button#submit-button {
    height: calc(2.25rem + 20px);
  }

  .form-control {
    border-radius: var(--border-radius-small);
    margin: 1.3rem 0;
  }

  .form-control:focus {
    box-shadow: none;
    border-color: var(--dark-color);
  }

  button#submit-button {
    background: var(--white-color);
    border-color: transparent;
    color: var(--dark-color);
    cursor: pointer;
    transition: all 0.3s ease;
  }

  button#submit-button:hover {
    background: var(--primary-color);
  }

  .contact h2 + p {
    max-width: 90%;
  }

  .google-map {
    border-top: 1px solid #efebeb;
    margin-top: 2.5rem;
    padding-top: 2.5rem;
  }

  .google-map iframe {
    width: 100%;
  }


  /*---------------------------------------
     FOOTER              
  -----------------------------------------*/

  .site-footer {
    border-top: 1px solid #efebeb;
    padding: 3rem 0;
  }

  .site-footer a {
    color: var(--p-color);
    font-weight: var(--font-weight-light);
  }

  .site-footer p {
    font-size: var(--base-font-size);
  }

  .contact .fa,
  .site-footer .fa {
    color: var(--primary-color);
  }


  /*---------------------------------------
     SOCIAL ICON              
  -----------------------------------------*/

  .social-icon {
    position: relative;
    padding: 0;
    margin: 5px 0 0 0;
  }

  .social-icon li {
    display: inline-block;
    list-style: none;
  }

  .social-icon li a {
    text-decoration: none;
    display: inline-block;
    color: var(--p-color);
    font-size: var(--p-font-size);
    font-weight: var(--font-weight-bold);
    margin: 5px 10px;
    text-align: center;
  }

  .social-icon li a:hover {
    color: var(--primary-color);
  }


  /*---------------------------------------
     RESPONSIVE STYLES              
  -----------------------------------------*/

  @media screen and (max-width: 992px) {

    .section {
      padding: 5rem 0;
    }

    .nav-item .nav-link {
      padding: 6px;
    }

    .navbar .social-icon {
      margin-top: 22px;
    }

    .navbar-collapse,
    .site-footer {
      text-align: center;
    }

    .schedule-table {
      display: block;
    }

    .modal-content {
      padding: 2rem;
    }
  }

  @media screen and (max-width: 767px) {

    h1 {
      font-size: 38px;
    }

    .about-working-hours {
      border-left: 0;
      padding: 22px 0 0 0;
    }

    .contact h2 span {
      display: block;
    }
  }