<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
        <img src="images/tamago.png">
        <a class="navbar-brand" href="index.html">Sushi Squad 7461</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% if page.title == "Home | Team 7461"%}
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-lg-auto">
              <li class="nav-item">
                  <a href="#home" class="nav-link smoothScroll">Home</a>
                </li>
      
                <li class="nav-item">
                  <a href="#about" class="nav-link smoothScroll">About</a>
                </li>
      
                <li class="nav-item">
                  <a target="_blank" href="https://shop.sushisquad.org/" rel="noreferrer noopener" class="nav-link smoothScroll">Shop</a>
                </li>
      
                <li class="nav-item">
                  <a href="#portfolio" class="nav-link smoothScroll">Sponsors</a>
                </li>
       
                
                <!-- <li class="nav-item">
                  <a href="camps.html" rel="noreferrer noopener" class="nav-link smoothScroll">Camps</a>
                </li>          -->
                
                <li class="nav-item">
                  <a href="history.html" class="nav-link smoothScroll">History</a>
                </li>
                <li class="nav-item">
                  <a href="resources.html" class="nav-link smoothScroll">Resources</a>
                </li>
                <li class="nav-item">
                  <a href="#contact" class="nav-link smoothScroll">Contact</a>
                </li>

                <li class="nav-item">
                  <a href="https://forms.gle/ToZQtD5jVuDFimB39" class="nav-link smoothScroll" style="color: #56cbf9">Join Us!</a>
                </li>
              
          </ul>

        </div>
        {%else%}
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-lg-auto">
                <li class="nav-item">
                    <a href="index.html#home" class="nav-link smoothScroll">Home</a>
                  </li>
        
                  <li class="nav-item">
                    <a href="index.html#about" class="nav-link smoothScroll">About</a>
                  </li>
        
                  <li class="nav-item">
                    <a target="_blank" href="https://shop.sushisquad.org/" rel="noreferrer noopener" class="nav-link smoothScroll">Shop</a>
                  </li>
        
                  <li class="nav-item">
                    <a href="index.html#portfolio" class="nav-link smoothScroll">Sponsors</a>
                  </li>
         
                  
                  <!-- <li class="nav-item">
                    <a href="camps.html" rel="noreferrer noopener" class="nav-link smoothScroll">Camps</a>
                  </li>          -->
                  
                  <li class="nav-item">
                    <a href="history.html" class="nav-link smoothScroll">History</a>
                  </li>
                  <li class="nav-item">
                    <a href="resources.html" class="nav-link smoothScroll">Resources</a>
                  </li>
                  <li class="nav-item">
                    <a href="index.html#contact" class="nav-link smoothScroll">Contact</a>
                  </li>
                
            </ul>

        </div>
        {%endif%}
    </div>
</nav>